#search{padding-bottom:100px;text-align:center;*z-index:1}  <!-- search对应 <div id ="search"> -->

body{font:12px arial;text-align:center;background:#fff}
body,p,form,ul,li{margin:0;padding:0;list-style:none}

#ftConw{width:720px;margin:0 auto}

input{border:0;padding:0}

 .ipt_wr { 
      
        height:34px;
        border:1px solid #b6b6b6;
        border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
        background:#fff;
        display:inline-block;
        vertical-align:top;  
        width:539px;
        margin-right:0;
        border-right-width:0;   /*右边框为0*/ 
        border-color:#b8b8b8 transparent #ccc #b8b8b8;
        overflow:hidden
    }
 .ipt {
        
        width:526px;    /*输入框宽度*/
        height:22px;    /*输入框高度*/
        font:16px/18px arial;   /*输入的字体大小，arial字型*/
        line-height:22 px\9;    /*字符间距*/
        margin:6px 0 0 7px;     /*外边距*/
        padding:0;              /*内边距*/
        background:transparent; /*背景透明*/
        border:0;               /*边框*/
        outline:0;              /*输入边框*/
        -webkit-appearance:none     /*移除原生控件样式*/   
    }
 .btn {
       
        width:100px;    /*按钮宽度*/
        height:36px;    /*按钮高度*/
        color:white;    /*字体颜色*/
        font-size:15px; /*字体大小*/
        letter-spacing:1px; /*字符间距*/
        background:#3385ff; /*背景蓝色*/
        border-bottom:1px solid #2d78f4;    /*下边框的宽度、样式和颜色值*/
        outline:medium;     /*轮廓*/
        *border-bottom:0;    /*底边框*/
        -webkit-appearance:none;
        -webkit-border-radius:0
    }
 .btn_wr{
        
        width:auto;
        height:auto;
        border-bottom:1px solid transparent;
        *border-bottom:0
    }
 .center{
        position:absolute;
        top:34.3%;
        right:25%;
        left:25%;
    }    
 .menu {
        position:relative;
        width:438px;
        z-index:2;
        background: #FFF;
        border:1px solid #000;
        margin-top:-20px;
        margin-left:20px;
        display:none;
        float:left;
    }
    .menu2 {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:auto;
        overflow:hidden;
        z-index:1;
        float:left;
    }
    .Menu2 ul{margin:0;padding:0}
    .Menu2 ul li{
        width:100%;height:25px;line-height:25px;text-indent:15px;
        border-bottom:1px dashed #ccc;color:#666;cursor:pointer;
        float:left;    
    }