<header>

<!-- navbar -->
<div class="navbar">
    <ul id="navig">
        <li><a href="#">Home</a></li>
        <li class="input_ls">
            <span class="item_input">
               <input type="text" id="search_input" class="ipt" autocomplete="off"  onkeydown="return Entpress(event);" />
               <input id="search_btn" class="btn" type="button" value='百度一下' onclick=javascript:jump() />
            </span>
        </li>
        <li><a href="#">Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
    
</header>